# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Log files
*.log

.tox/
.coverage

# vi
.*.swp

# pycharm
.idea/
.unit-state.db
src/.unit-state.db

# version data
repo-info


# reports
report/*

# virtual env
venv/*
